<style>

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5em;
    }
    div{
        margin:  .8em 0;
    }
</style>

<form action={{blog.updateLink}} method="POST">
    <div>
        <label for="title">Title: </label>
        <input type="text" name="title" value={{blog.title}}>
    </div>
    <div>
        <label for="author">Author: </label>
        <input type="text" name="author" value={{blog.author}}>
    </div>
    <div>
        <p>

        <label for="content">Content: </label>
        </p>
        <textarea name="content" cols="30" rows="10" >{{blog.content}}</textarea>
    </div>
    <input type="submit">
</form>